@import url("http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700");

body {
	margin:  0;
	padding: 0;
	background-color: rgba(  229, 229, 229, 0.9  );
}


/* Header */
.logo {
	height:     45px;
	margin-top: 10px;
}

.nav ul {
	position:      relative;
	width:         auto;
	top:           -16px;
	margin-bottom: 0px;
	text-align:    left;

	background-color: #686868;
	list-style:       none;
}

.nav ul li {
	display: inline;
}

.nav ul li a {
	padding-top:     23px;
	padding-right:   23px;
	padding-bottom:  23px;

	font-family:     'Open Sans Condensed', sans-serif;
	font-size:       24px;
	text-decoration: none;
	color:           #000;

	text-shadow:
		0 0 0.0em rgba(0, 0, 0, 0),
		0 0 0.0em rgba(0, 0, 0, 0),
		0 0 0.0em rgba(0, 0, 0, 0);

	transition:					 	 color .9s ease-in-out;
    -moz-transition:     color .9s ease-in-out;
    -webkit-transition:  color .9s ease-in-out;

	transition: 					 text-shadow .3s ease-in-out;
    -moz-transition:     text-shadow .3s ease-in-out;
    -webkit-transition:  text-shadow .3s ease-in-out;
}

.nav ul li a:hover {
	color: #33FFFF;

	text-shadow:
		0 0 0.0em #33CCFF,
		0 0 0.0em rgba(0, 0, 0, 0),
		0 0 0.0em #33CCFF;
}
/* einde header */


/* homeknoppen */
#gezin a, #eco a, #premium a, #sport a {
	line-height: 2000%;
	width:       24vw;
	height:      40vh;
	display:     block;
	float:       left;
	text-align:  center;

	background-size:     30%, 30%;
	background-position: 50%  30%;
	background-color:    rgba(  229, 229, 229, 0.9  );

	font-family: 'Segoe UI', sans-serif;
	font-weight: lighter;
	font-size:   21px;

	text-decoration: none;
	color:           #000;

	transition:
		background-color 0.5s ease;

}

#premium a:hover, #eco a:hover, #sport a:hover, #gezin a:hover {
	background-color: #686868;
}

#premium a {
	background: url("./swag1.png") no-repeat 0 100%;
}
#eco a {
	background: url("./swag2.png") no-repeat 0 100%;
}
#sport a {
	background: url("./swag3.png") no-repeat 0 100%;
}
#gezin a {
	background: url("./swag4.png") no-repeat 0 100%;
}
/* einde homeknoppen */

/* Content */
.content {
	position: relative;

	margin-left:    0px;
	margin-top:     0px;
	margin-right:   0px;

	padding-left:   0px;
	padding-top:  180px;

	width: auto;
  top:  -16px;

	background-color: #FFF;
}

.content p {
	margin:           0px;
	margin-top:      10px;

	padding-top:     10px;
	padding-bottom: 180px;

	font-family: 'Segoe UI', sans-serif;
	font-weight: lighter;
	font-size:   19px;

	background-color: #FFF;
}

/* einde content */

/* Prijsknop */
.prijsknop {
	padding-top: -5px;
	font-family: 'Segoe UI', sans-serif;
}

#links a {
	width:       49.6%;
	height:      92.2vh;
	float:       left;

	line-height: 85vh;
	margin-top:  -16px;
	text-align:  center;

	background:          url("./eurostapel.png") no-repeat 0 100%;
	background-position: 51.1% 35%;
	background-size:     100px 100px;

	color:           #000;
	text-decoration: none;
	border-right:    .5vw solid #000;

	transition:
		background-color 0.5s ease;
}
#links a:hover {
	background-color: #A8A8A8;
}

#rechts a {
	display: block;
	width:   49.9%;
	height:  92.2vh;
	float:   right;

	line-height: 5000%;
	margin-top:  -16px;
	text-align:  center;

	background:          url("./geldzak.png") no-repeat 0 100%;
	background-position: 51.1% 32%;
	background-size:     100px 140px;

	text-decoration: none;
	color:           #000;

	transition:
		background-color 0.5s ease;
}
#rechts a:hover {
	background-color: #A8A8A8;
}
/* einde prijsknop */

/* onderdeel van de header */
.nav ul {
	width:      auto;
	text-align: left;

	margin-left:   0px;
	margin-right:  0px;
	margin-bottom: 0px;

	background-color: #4C4B4B;
	list-style:       none;
}
.nav ul li {
	display: inline;

	padding:      0px;
	line-height: 70px;
}
/* einde onderdeel van de header */


/* test voor de tables */
.tableB table {
	margin-top:       -16px;

	border:           1px solid rgba(  229, 229, 229, 0.9  );
	border-collapse:  collapse;

	background-color: #FFF;
}

.auto_td {
	padding: 0px;

	border-right: 1px solid #FFF;
}


a.sizeIMG:hover, a.sizeIMG:active {
	size: 102%;
}

#auto {
	display: inline-block;
	width:   24vw;
	height:  38.5vh;
	float:   left;

	background-color: #FFF;
	text-align:       center;
}

#auto a {
	padding: 0px;
	margin:  0px;

	font-family: 'Segoe UI', sans-serif;
	font-weight: lighter;
	font-size:   21px;

	text-decoration: none;
	color:           #FFF;
}

#auto a:hover {
	background-color: #FFF;
	color:            #000;

	transition:
		color 0.8s ease;
}

/* einde van de test voor de tables */

/* Sidebar */
.sidebar {
	position: absolute;
	width:    13%;

	left:   0px;
	top:   59px;
	bottom: 0px;
}

.sidebar a {
	margin-bottom:   -4px;

	text-decoration: none;
}

.sidebar a p {
	padding-left:   20px;
	padding-top:    15px;
	padding-bottom: 15px;

	background-color: #FFF;
	color:            #000;
}

/* einde sidebar */

.auto2 {
	padding-bottom: 10px;

  background-color: rgba(  229, 229, 229, 0.9  );
	text-align:       center;
}

.auto2 a {
  color:           #000;
	font-size:       18px;
	text-decoration: none;
}

.tableB td, tr {
	box-sizing: border-box;

	border:          1px solid #000;
	border-collapse: collapse;
}

.dropdown {
  height:   0px;
  overflow: hidden;

  transition:
		all 0.3s linear 1s;
}

a:focus ~ .dropdown {
  height: 1441.2px;
}
